<h1 class="text-center my-4">Search Forms***google API***</h1>



<script async src="https://cse.google.com/cse.js?cx=a15bfb6d263eb4a1c">
</script>
<form onsubmit="event.preventDefault(); renderSearchResults(document.getElementById('search-query').value);">
  <input type="text" id="search-query" name="search-query">
  <input type="submit" value="Search">
</form>
<%# <div class="gcse-search"></div> %>
<div class="search-list">
  <% if @response.present? %>
    <ul>
     <% @results.each do |result| %>
    <li><%= result %></li> 
  <% end %>
    </ul>
  <% else %>
    <p>No result found.</p>
  <% end %>
</div>


